html, body {
    height: 100%;
    margin: 0;
}

body {
    display: flex;
    flex-direction: column;
}

.container-lg {
    flex-grow: 1;
}


/* Contenitore principale */
.rpg-roles-page {
    background-color: rgba(0, 0, 0, 0.8);
    padding: 30px;
    border-radius: 15px;
    border: 2px solid gold;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.5);
    color: #f4f4f4;
}

/* Titolo RPG */
h1 {
    font-family: 'Uncial Antiqua', serif;
    color: #f7d794;
    text-shadow: 2px 2px 8px #000;
    margin-bottom: 40px;
}

/* Stile delle card */
.rpg-card {
    background-color: rgba(255, 255, 255, 0.1);
    border: 2px solid #d4af37;
    color: #f4f4f4;
    border-radius: 10px;
    padding: 15px;
    transition: transform 0.3s ease;
}

/* Titolo delle card */
.card-title {
    font-family: 'Uncial Antiqua', serif;
    font-size: 1.5rem;
    color: #f7d794;
    text-shadow: 1px 1px 4px #000;
    margin-bottom: 20px;
}

/* Effetto hover sulle card */
.rpg-card:hover {
    transform: scale(1.05);
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.8);
}

body {
    background-size: cover;
    background-attachment: fixed;
    font-family: 'Cinzel', serif;
    color: #f4f4f4;
}